@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    direction: rtl;
  }

  body {
    font-family: 'Heebo', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
}
